ul, li{
	padding:0;
	list-style: none;
	float:left;
}
li{
	list-style:none;
	position: relative;
	display: inline;
}
a{
	text-decoration:none;
}

body{
	font-family:Arial;
	font-size:14px;
	background-image:url('https://wallpaper-house.com/data/out/10/wallpaper2you_404161.jpg');
	background-repeat: repeat;
    background-attachment: scroll;
    
}
.clear{
	clear:both;
}
.container{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	
	
}
header{
	
	text-align:center;
	
	
}
span{
	color:#3333CC;
	margin:0 auto;
	font-size:45px;
}
header nav ul{
	width:275px;
	margin:0 auto;
	float:left;
	color:#3333FF;
}
header nav ul li{
	float:left;
	padding:10px;
}
header nav ul li a{
	color:#3333FF;
}
header nav ul li :hover{
	color:#330000;
}


	
footer{
	margin:auto;
	width:200px;
	height:275px;
}
